<div class="slides-wrapper">
	<ul class="slides">
		<li class="slide" ng-repeat="slide in slides" on-last-repeat>
			<img ng-src="{{slide.content}}"/>
		</li>
	</ul>
</div>
<a ng-show="directionnav == 'true'" class="ion-ios-arrow-back back-slide direction-nav"></a>
<a ng-show="directionnav == 'true'" class="ion-ios-arrow-forward forward-slide direction-nav"></a>
<ul ng-show="slideindicator == 'true'" class="slides-indicator">
	<li ng-repeat="i in createIndicators(indicator) track by $index" ng-class="{active: isActive($index)}" ng-click="select($index)"></li>
</ul>