<div class="slides-wrapper">
	<ul class="slides">
		<li class="slide" ng-repeat="slide in $slides" on-last-repeat>
			<img ng-if="slide.image !== ''" ng-src="{{slide.image}}"/>
			<div ng-if="slide.content !== ''" ng-bind-html="slide.content" class="col-xs-12"></div>
		</li>
	</ul>
</div>
<a ng-show="$controlNav" class="ion-ios-arrow-back back-slide direction-nav" ng-click="$prev()"></a>
<a ng-show="$controlNav" class="ion-ios-arrow-forward forward-slide direction-nav" ng-click="$next()"></a>
<ul ng-show="$indicators" class="slides-indicator">
	<li ng-repeat="i in $createIndicators($indicator) track by $index" ng-class="{active: $isActive($index)}" ng-click="$select($index)"></li>
</ul>